/* PROJETOS */
#projetos .container-projetos {
    display: grid;        
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 0 auto;
    grid-gap: 50px;   
    width: 100%;
}

#projetos .container-projetos .projeto img {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 10px;
}

#projetos .container-projetos .projeto img#mobile {
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#projetos .container-projetos .projeto .informacoes-projeto {
    text-align: center;
    margin-bottom: 15px;
}

#projetos .container-projetos .projeto .informacoes-projeto h3 {
    margin-bottom: 10px;
}

#projetos .container-projetos .projeto .informacoes-projeto p {
    margin-bottom: 20px;
}

#projetos .container-projetos .projeto .informacoes-projeto a {
    background-color: #9400FF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(80, 0, 130, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#projetos .container-projetos .projeto .informacoes-projeto a:hover {
    background-color: #563d7c;
    box-shadow: 0 6px 12px rgba(50, 0, 90, 0.7); 
}

#projetos .container-projetos .projeto {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

@media(max-width: 1200px) { 
    #projetos .container-projetos {
        grid-template-columns: 1fr;
    }

    #projetos .container-projetos .projeto {
        display: flex;
        flex-direction: column;
    }

    #projetos .container-projetos .projeto img {
        max-width: 80%;
    }

    #projetos .container-projetos .projeto img#mobile {
        height: 400px;
        right: 100px;
    }
}

@media (max-width: 768px) {
    #projetos .container-projetos .projeto img {
        max-width: 90%;
    }

    #projetos .container-projetos .projeto img#mobile {
        height: 180px;
        right: 20px;
    }
}